<div class="content" id="article">
  <div class="content">
    <h1 style="text-align: center">{{article.title}}</h1>
    <div #target style="margin-bottom: 0.5em;;width: 1012px;height: 48px;display: flex; justify-content: space-between">
      <span><i nz-icon nzTheme="outline" nzType="calendar"></i>&nbsp;{{article.createdTime | date: "yyyy-MM-dd"}}</span>
      <span><i nz-icon nzTheme="outline" nzType="user"></i>&nbsp;{{article.author}}</span>
      <span *ngIf="article.category != ''"><i nz-icon nzTheme="outline"
                                              nzType="folder"></i>&nbsp;{{article.category}}</span>
      <span><i nz-icon nzTheme="outline" nzType="eye"></i>&nbsp;{{article.visits}}</span>
    </div>
    <next-showdown (rendering)="addCopyButton()" [md]="article.content"
                   style="position: relative;width: 1012px;display: block"></next-showdown>

    <app-contributors [contributors]="article.contributors"></app-contributors>
    <app-copyright [article]="article"></app-copyright>
    <div style="width: 100%; text-align: center; padding: 1rem">
      <button (click)="createTplModal(title, content)" nz-button nzType="primary">赞赏</button>
    </div>

    <span style="font-size: 18px;display: block;margin: 1rem">评论：</span>
    <app-edit-comment style="width: 100%;display: block;text-align: center" [articleId]="articleId"
                      (added)="getComments(articleId)"></app-edit-comment>
    <span style="font-size: 18px;display: block; margin: 1rem">评论列表：</span>
    <app-comment (reply)="openReplayDialog($event)" (report)="reportComment($event)" *ngFor="let comment of comments"
                 [comment]="comment"></app-comment>
    <p style="text-align: center; font-size: 16px" *ngIf="comments.length == 0">暂无评论</p>
  </div>
</div>
<app-back-top *ngIf="!loading"></app-back-top>
<app-download *ngIf="!loading" [article]="article"></app-download>
<app-edit *ngIf="!loading" [articleId]="articleId"></app-edit>
<app-outline [article]="article"></app-outline>

<ng-template #title>
  <p style="text-align: center">感谢赞赏！</p>
</ng-template>

<ng-template #replyTitle>
  <p style="text-align: center">回复评论</p>
</ng-template>

<ng-template #content>
  <div style="height: 200px">
    <div class="left">
      <i nz-icon nzTheme="outline" nzType="alipay"></i>
      <br>
      <img src="{{getAlipay()}}">
    </div>
    <div class="right">
      <i nz-icon nzTheme="outline" nzType="wechat"></i>
      <br>
      <img src="{{getWechat()}}">
    </div>
  </div>
</ng-template>

<ng-template #reply>
  <textarea [(ngModel)]="replyContent" rows="5"></textarea>
</ng-template>
