<div *ngIf="isLeft()" class="item-left">
  <nz-avatar nzShape="circle" nzSize="large" nzSrc="../../../assets/images/xiaoice_avatar.jpg"></nz-avatar>
  <div class="left">
    <span *ngIf="!message.attachment">{{message.text}}</span>
    <img *ngIf="message.attachment" src="{{message.attachment[0].thumbnail_60}}">
  </div>
</div>

<div *ngIf="!isLeft()" class="item-right">
  <div class="right">
    {{message.text}}
  </div>
  <nz-avatar [nzSrc]="getAvatar()" nzShape="circle" nzSize="large"></nz-avatar>
</div>
<br>
<br>
