.item-left {
  width: 100%;
  padding: 1rem;
  float: left;
  max-height: 500px;
  display: block;
}

.item-right {
  padding: 1rem;
  float: right;
  display: block;
}

.left, .right {
  width: 200px;
  padding: 1rem;
}

.left {
  background-color: white;
  border: 1px solid black;
  border-radius: 8px;
  color: #002200;
  display: inline-block;
  margin-left: 1rem;
}

.right {
  background-color: darkslategray;
  color: white;
  display: inline-block;
  margin-right: 1rem;
  border-radius: 8px;
}

