.left {
  width: 50%;
  float: left;
  height: 100%;
  padding-left: 10px;
  padding-right: 5px;
  border-right: 1px solid gray;
}

.right {
  width: 50%;
  float: right;
  height: 100%;
  padding-left: 10px;
  padding-right: 5px;
}
