<nz-header style="background: white; text-align: center">
  <ul nz-menu nzMode="horizontal" nzTheme="light" style="display: inline-block">
    <li (click)="click(item.text)" *ngFor="let item of menu" nz-menu-item>
      <button nz-button nzType="link">
        <i nz-icon nzTheme="outline" nzType="{{item.icon}}"></i>
        {{item.text}}
      </button>
    </li>
  </ul>
  <a *ngIf="getName() == null" style="float: right; display: inline-block"
     href="https://github.com/login/oauth/authorize?client_id=280efb2391f54e4992d7&scope=public_repo,user:email,delete_repo">LOGIN</a>
  <div *ngIf="getName()" style="float: right; display: inline-block; alignment: center">
    <nz-avatar [nzSrc]="getAvatar()" style="display: block;margin: 1rem auto"></nz-avatar>
      <span (click)="openAdminDialog()"
            style="display: block; line-height: 12px;font-size: 10px;cursor: pointer">{{getName() | uppercase}}</span>
  </div>
</nz-header>
