/* You can add global styles to this file, and also import other style files */
@import '~katex/dist/katex.css';
@import "~highlight.js/scss/default";
@import "~milligram/dist/milligram.min.css";
@import "~ng-zorro-antd/skeleton/style/index.min.css";
@import "~ng-zorro-antd/button/style/index.min.css";
@import "~ng-zorro-antd/icon/style/index.min.css";

body, html {
  background: white;
  height: 100%;
}

div.mermaid {
  text-align: center;
}
