/* You can add global styles to this file, and also import other style files */
@import '~katex/dist/katex.css';
@import "~highlight.js/scss/default";
@import "~milligram/dist/milligram.min.css";
@import "~showdown-bilibili/bilibili";
@import "~showdown-mermaid/mermaid";
@import "~ng-zorro-antd/skeleton/style/index.min.css";
@import "~ng-zorro-antd/button/style/index.min.css";
@import "~ng-zorro-antd/back-top/style/index.min.css";
@import "~mergely/lib/mergely.css";

$wholeHeight: calc(100vh - 64px);

body, html {
  background: white;
  font-family: "Lato", "PingFang SC", "Microsoft YaHei", sans-serif !important;
  height: 100%;
  color: rgb(0, 0, 0) !important;
}

.content {
  width: 1012px;
  height: $wholeHeight;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
  //overflow: -moz-hidden-unscrollable;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.content::-webkit-scrollbar {
  display: none
}

.outline-title {
  cursor: pointer;
}

a:hover {
  text-decoration: underline !important;
}
