.left {
  width: 50%;
  float: left;
  height: 90%;
  max-height: 90%;
  overflow: auto;
  word-break: break-all;
  padding: 1rem;
  margin: 0;
}

.right {
  width: 50%;
  float: right;
  height: 90%;
  max-height: 90%;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  overflow-y: scroll;
  resize: none;
}

.showdown {
  position: absolute;
  width: 49%;
  height: 90%;
  overflow-y: scroll;
  margin: 0;
}

